<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
<system.serviceModel>
        <bindings>
                <basicHttpBinding>
                        <binding name="MantisConnectBinding">
                                <security mode="Transport"/>
                        </binding>
                        <binding name="MantisConnectBinding1"/>
                </basicHttpBinding>
        </bindings>
        <client>
                <endpoint address="https://bugtraq.tsprojects.org/api/soap/mantisconnect.php" binding="basicHttpBinding" bindingConfiguration="MantisConnectBinding" contract="MantisConnectWebservice.MantisConnectPortType" name="MantisConnectPort"/>
        </client>
    </system.serviceModel>
</configuration>
