<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup>
<system.serviceModel>
        <bindings>
                <basicHttpBinding>
                        <binding name="MantisConnectBinding"/>
                </basicHttpBinding>
        </bindings>
        <client>
                <endpoint address="http://bugtraq.tsprojects.org/api/soap/mantisconnect.php" binding="basicHttpBinding" bindingConfiguration="MantisConnectBinding" contract="MantisConnectWebservice.MantisConnectPortType" name="MantisConnectPort"/>
        </client>
    </system.serviceModel>
</configuration>
