*.chw
*.suo
*.user
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.log
*.opensdf
*.sdf
*.pfx

obj/
build/
/SRC
.vs/
**/bin/*

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/[Pp]ackages/repositories.config
# NuGet v3's project.json files produces more ignorable files
*.nuget.props
*.nuget.targets

/Net40/Debug
/Net40/Release
/Net40
/Monkey Speak Extended/Help
/ps errors.txt
/Z.txt
obj
obj
obj
/Silver_Monkey_Error_06_13_2017_23-35-46.txt
/BugReports
/FastColoredTextBox_Help.chm
/PullRequest.cmd
/SmEngineTests/silvermonkey.ini
/TestResults
/backup Src
