<?xml version="1.0"?>
<configuration>
    <appSettings>
        <add key="MantisConnectWebsite" value="http://www.futureware.biz/mantisconnect/" />
    	<add key="MantisConnectUrl" value="http://localhost:8008/mantisbt/mc/mantisconnect.php" />
        <add key="MantisUserName" value="administrator" />
        <add key="MantisPassword" value="root" />
        <add key="BasicHttpAuthUserName" value="" />
        <add key="BasicHttpAuthPassword" value="" />
    </appSettings>
    <startup>
      <supportedRuntime version="v2.0.50727" sku="Client"/>
    </startup>
</configuration>