<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Futureware.MantisSubmit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="MantisConnectWebsite" value="http://bugtraq.tsprojects.org"/>
    <add key="MantisConnectUrl" value="http://bugtraq.tsprojects.org"/>
    <add key="MantisUserName" value="SilverMonkeyBot"/>
    <add key="MantisPassword" value="s6vprcjf2vamkfqh"/>
    <add key="BasicHttpAuthUserName" value=""/>
    <add key="BasicHttpAuthPassword" value=""/>
  </appSettings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup>
  <applicationSettings>
    <Futureware.MantisSubmit.Properties.Settings>
      <setting name="MantisConnectUrl" serializeAs="String">
        <value>http://bugtraq.tsprojects.org</value>
      </setting>
      <setting name="MantisUserName" serializeAs="String">
        <value>SilverMonkeyBot</value>
      </setting>
      <setting name="MantisPassword" serializeAs="String">
        <value>s6vprcjf2vamkfqh</value>
      </setting>
    </Futureware.MantisSubmit.Properties.Settings>
  </applicationSettings>
</configuration>
