<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="MantisConnectWebsite" value="https://bugtraq.tsprojects.org"/>
    <add key="MantisConnectUrl" value="https://bugtraq.tsprojects.org"/>
    <add key="MantisUserName" value="SilverMonkeyBot"/>
    <add key="MantisPassword" value="s6vprcjf2vamkfqh"/>
    <add key="BasicHttpAuthUserName" value=""/>
    <add key="BasicHttpAuthPassword" value=""/>
    <add key="CheckForNewIssuesEverySecs" value="600"/>
    <add key="TimeToShowNotificationSecs" value="1"/>
    <add key="TimeToStayNotificationSecs" value="5"/>
    <add key="TimeToHideNotificationSecs" value="2"/>
  </appSettings>
  <startup>

    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
