<?xml version="1.0" encoding="Windows-1252" ?>
<configuration>
    <appSettings>
    	<add key="MantisConnectWebsite" value="http://www.futureware.biz/mantisconnect/" />
    	<add key="BugtrackerUrl" value="http://www.futureware.biz/mantis/" />
    	<add key="MantisConnectUrl" value="http://www.futureware.biz/mantis/mc/mantisconnect.php" />
    	<add key="MantisUserName" value="" />
    	<add key="MantisPassword" value="" />
    	<add key="BasicHttpAuthUserName" value="" />
    	<add key="BasicHttpAuthPassword" value="" />
    	<add key="CheckForNewIssuesEverySecs" value="600" />
    	<add key="TimeToShowNotificationSecs" value="1" />
    	<add key="TimeToStayNotificationSecs" value="5" />
    	<add key="TimeToHideNotificationSecs" value="2" />
	</appSettings>
</configuration>