<?xml version="1.0"?>
<configuration>
    <appSettings>
      <add key="MantisConnectWebsite" value="http://bugtraq.tsprojects.org"/>
      <add key="MantisConnectUrl" value="http://bugtraq.tsprojects.org"/>
      <add key="MantisUserName" value="SilverMonkeyBot"/>
      <add key="MantisPassword" value="s6vprcjf2vamkfqh"/>
      <add key="BasicHttpAuthUserName" value=""/>
      <add key="BasicHttpAuthPassword" value=""/>
    </appSettings>
    <startup>
      
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup>
</configuration>
